---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <a href="{{author.googlescholar}}">my Google Scholar profile</a>.
{% endif %}

{% include base_path %}

{% for category in site.data.navigation.publications %}
{% endfor %}

{% assign ordered_pubs = site.publications | sort: "date" | reverse %}

{% for category in site.publication_category %}
  {% assign category_slug = category[0] %}
  {% assign category_title = category[1].title %}
  
  ## {{ category_title }}
  
  {% for post in ordered_pubs %}
    {% if post.category == category_slug %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
  
{% endfor %}
